<div class="container">
  <h1>Create a new user</h1>

<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Nova corrida</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="name">Nome</label>  
  <div class="col-md-8">
  <input id="name" name="name" type="text" placeholder="Corrida" class="form-control input-md" required="">
  <span class="help-block">O nome do evento</span>  
  </div>
</div>

<!-- Appended Input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="distance">Distância</label>
  <div class="col-md-4">
    <div class="input-group">
      <input id="distance" name="distance" class="form-control" placeholder="5" type="text" required="">
      <span class="input-group-addon">km</span>
    </div>
    <p class="help-block">Distância em kilômetros</p>
  </div>
</div>
<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="date">Quando</label>  
  <div class="col-md-4">
  <input id="date" name="date" type="text" placeholder="" class="form-control input-md" required="">
  <span class="help-block">Dia e horário da largada</span>  
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="venue">Local</label>  
  <div class="col-md-4">
  <input id="venue" name="venue" type="text" placeholder="Parque..." class="form-control input-md" required="">
  <span class="help-block">Nome do local onde será a corrida</span>  
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="city">Cidade</label>  
  <div class="col-md-4">
  <input id="city" name="city" type="text" placeholder="Curitiba" class="form-control input-md" required="">
  <span class="help-block">Nome da cidade onde será a corrida</span>  
  </div>
</div>

</fieldset>
</form>




  <form novalidate="novalidate" class="form-horizontal">
    <div class="control-group">
      <label class="control-label" for="inputUsername">Username:</label>

      <div class="controls">
        <input type="text" id="inputUsername" ng-model="user.username" placeholder="Usuario"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputRole">Role:</label>

      <div class="controls">
        <input type="text" id="inputRole" ng-model="user.role"/>
      </div>
    </div>
 
    <div class="control-group">
      <label class="control-label" for="inputPassword">Password:</label>

      <div class="controls">
        <input type="text" id="inputPassword" ng-model="user.password"/>
      </div>
    </div>
 
    <div class="control-group">
      <label class="control-label" for="inputName">Name:</label>

      <div class="controls">
        <input type="text" id="inputName" ng-model="user.name" placeholder="Nome"/>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <a ng-click="createNewUser()" class="btn btn-small btn-primary">create new user</a>
      </div>
    </div>
  </form>
</div>
