$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "bootstrap-sass/vendor/assets/stylesheets/bootstrap";

body {
    // Navbar blocks the top otherwise
    padding-top: 100px; 
}
